html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Arial', 'Verdana', 'sans-serif';
    margin-bottom: 60px;
}

.grid-content{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    width: 100%;
}